# Python (Arquivos temporários e compilados)
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribuição / build
build/
dist/
*.egg-info/

# Ambiente Virtual (Onde ficam as bibliotecas instaladas)
.venv/
venv/
env/
ENV/

# Variáveis de Ambiente / Secrets
.env
.env.*
*.env
!.env.example

# IDEs / Editores
.idea/
.vscode/
*.swp
*.swo

# Logs e Docker
*.log
logs/
.docker/
docker-compose.override.yml

# Dados
data/interim/
data/processed/
data/raw/

# Sistema Operacional
.DS_Store
Thumbs.db